
/* Estilos generales */
body {
  --color-primary: #88c9f5;
  --color-secondary: #2980b9;
  margin: 0 auto;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #fff;
}

.highlight {
  background-color: var(--color-primary);
  padding-top: 0.5rem;
  text-align: center;
}
  
.highlight h1 {
  margin-bottom: 1.5rem;
  font-family: Arial, sans-serif;
  color: white;
  text-shadow: none;
  -webkit-text-stroke: 1.5px var(--color-secondary);
}

.highlight .logo {
  vertical-align: middle;
  width: 30%;
}

.highlight .banner {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.highlight .button a {
  display: block;
  width: 200px;
  margin: 0 auto;
  padding: 10px;
  background-color: var(--color-secondary);
  font-size: 25px;
  font-weight: bold;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  border: 2px solid var(--color-secondary);
  transition: all 0.3s ease;
}

.highlight .button a:hover {
  background-color: #333;
  color: #fff;
  border-color: #fff;
}

h1 {
    background-color: var(--color-primary);
    color: white;
    font-size: 5vw;
    font-weight: bold;
    padding: 20px;
    text-align: center;
    text-shadow: 1px 1px 2px #000000;
    border: 2px solid white;
    margin-bottom: 20px;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  max-width: 100%;
  width: 100%;
}

nav li {
  list-style: none;
  margin-right: 10px;
  margin-left: 10px;
}

nav a {
  display: block;
  color: #fff;
  font-size: 1.5rem;
  text-decoration: none;
  padding: 10px;
  background-color: var(--color-secondary);
  min-width: 150px;
  box-sizing: border-box;
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: none;
  outline: none;
}

nav a:hover {
  background-color: #1e6187;
}

@media only screen and (max-width: 768px) {
  nav ul {
    flex-wrap: wrap;
    justify-content: center;
  }

  nav li {
    margin-right: 10px;
    margin-left: 10px;
  }
  
  nav a {
    font-size: 3vw;
    padding: 5px;
    min-width: 100px;
  }
}

@media only screen and (max-width: 576px) {
  nav li {
    margin-right: 5px;
    margin-left: 5px;
  }
  
  nav a {
    font-size: 4vw;
    padding: 6px;
    min-width: 50px;
  }
}

.banner {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin: 0 auto;
    max-width: 1200px;
  }
  
  .banner img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    border-bottom: 10px solid var(--color-secondary);
    clip-path: polygon(
      50% 0%,
      61% 0%,
      68% 10%,
      82% 10%,
      87% 22%,
      95% 22%,
      100% 32%,
      91% 39%,
      100% 46%,
      91% 53%,
      100% 60%,
      95% 70%,
      87% 70%,
      82% 82%,
      68% 82%,
      61% 92%,
      50% 92%,
      39% 92%,
      32% 82%,
      18% 82%,
      13% 70%,
      5% 70%,
      0% 60%,
      9% 53%,
      0% 46%,
      9% 39%,
      0% 32%,
      5% 22%,
      13% 22%,
      18% 10%,
      32% 10%,
      39% 0%
    );
  }

  .banner a {
    display: inline-block;
    position: relative;
  }

  .banner a:hover {
    transform: scale(1.1);
    color: #fff;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    clip-path: polygon(
      50% 0%,
      61% 0%,
      68% 10%,
      82% 10%,
      87% 22%,
      95% 22%,
      100% 32%,
      91% 39%,
      100% 46%,
      91% 53%,
      100% 60%,
      95% 70%,
      87% 70%,
      82% 82%,
      68% 82%,
      61% 92%,
      50% 92%,
      39% 92%,
      32% 82%,
      18% 82%,
      13% 70%,
      5% 70%,
      0% 60%,
      9% 53%,
      0% 46%,
      9% 39%,
      0% 32%,
      5% 22%,
      13% 22%,
      18% 10%,
      32% 10%,
      39% 0%
    );
  }
  
  .banner a:hover:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }
  
  .banner a:hover span {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3vw;
    color: #fff;
    z-index: 2;
  }
  
  .banner a span {
    display: none;
  }

  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  #grid {
    width: 100%;
    text-align: center;
  }
  
  #grid td {
    width: 30%;
    height: 0px;
    padding-bottom: 30%;
    position: relative;
    display: inline-block;
    text-align: center;
    background-color: white;
    border-radius: 20px;
    vertical-align: middle;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    opacity: 0.8;
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  }

  #grid td.gastronomia {
    background-image: url('img/index/gastronomia.webp');
    background-position: center;
  }
  
  #grid td.arte {
    background-image: url('img/index/arte.webp');
    background-position: top;
  }
  
  #grid td.cultura {
    background-image: url('img/index/cultura.webp');
    background-position: top;

  }
  
  #grid td.templos {
    background-image: url('img/index/templos.webp');
    background-position: center;
  }
  
  #grid td.historia {
    background-image: url('img/index/historia.webp');
    background-position: center;
  }
  
  #grid td a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 2rem;
    color: #ffffff;
    text-decoration: none;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    opacity: 0.9;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #grid td:hover {
    background-color: var(--color-secondary);
  }
  
  #grid td:hover a {
    color: #fff;
  }
  
  @media screen and (max-width: 768px) {
    #grid tr {
      display: block;
      margin-bottom: 1rem;
    }
    #grid td {
      display: inline-block;
      width: 100%;
      margin-right: 2%;
    }
    #grid td:nth-child(even) {
      margin-right: 0;
    }
    .banner {
        grid-template-columns: repeat(1, 1fr);
      }
    .banner a:hover span {
      font-size: 10vw;
    }
  }

@media (max-width: 480px) {
    #grid td {
      width: 100%;
    }
}


/* Estilos para la página de presentación */

#box {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: justify;
  flex-wrap: wrap;
}

#box img {
  max-width: 100%;
  height: auto;
}

#box iframe {
  width: 640px;
  height: 360px;
}

@media only screen and (max-width: 767px) {
  #box iframe {
    max-width: 70%;
    height: auto;
  }
}


/* Estilos para páginas de ciudades */
  .city-banner {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
    position: relative;
  }

  .banner-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .banner-overlay h1 {
    color: #ffffff;
    font-size: 10vw;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    background: none;
    border: none;
    padding: 0;
    margin: 0;
  }

.kyoto-banner {
  background-image: url('img/index/kyoto.webp');
}
.osaka-banner {
  background-image: url('img/index/osaka.webp');
}
.nara-banner {
  background-image: url('img/index/nara.webp');
}

.seccion {
  max-width: 80%;
  margin: auto;
  padding: 20px 40px;
  margin-top: 10px;
  color: white;
  background-color: var(--color-secondary);
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: background-color 0.3s;
}

.seccion:hover {
  background-color: #1e6187;
}

.seccion-botones {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  color: white;
  border: none;
  margin: 0;
  padding: 0;
}

.icono-seccion {
  width: 30%;
  height: 30%;
  margin-right: 10px;
}

.seccion-contenido {
  display: none;
  padding: 10px;
  color:black;
  background-color: white;
  border: 1px solid white;
  border-top: none;
}

.seccion.activo .seccion-contenido {
  display: block;
}

.seccion.activo {
  display: block;
}


@media screen and (min-width: 768px) {
  .secciones-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 20px;
  }
  .seccion {
    display: flex;
    flex-direction: column;
  }
}

/* Estilos para páginas de categorías */

.gastro-banner {
  background-image: url('img/index/gastronomia.webp');
}
.arte-banner {
  background-image: url('img/index/arte.webp');
  background-position: top;
}
.cultura-banner {
  background-image: url('img/index/cultura.webp');
  background-position: top;
}
.templos-banner {
  background-image: url('img/index/templos.webp');
}
.historia-banner {
  background-image: url('img/index/historia.webp');
  background-position: top;
}

#category-grid {
  width: 50%;
  margin: auto;
  margin-top: 50px;
} 

@media screen and (max-width: 768px) {
  #category-grid {
    width: 100%;
    font-size: 0.8em;
  }
}

#category-grid td {
  width: 30%;
  height: 0px;
  padding-bottom: 30%;
  position: relative;
  text-align: center;
  background-color: white;
  border-radius: 20px;
  vertical-align: middle;
  display: inline-block;
  width: 100%;
  margin-bottom: 2%;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  opacity: 0.9;
  clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
}

.Takoyaki {
  background-image: url('img/categ/takoyaki.webp');
  background-position: center;
}
.Okonomiyaki {
  background-image: url('img/categ/okonomiyaki.webp');
  background-position: center;
}
.Kushikatsu {
  background-image: url('img/categ/kushikatsu.webp');
  background-position: center;
}
.Kabuki {
  background-image: url('img/categ/kabuki.webp');
}
.Takarazuka {
  background-image: url('img/categ/takarazuka.webp');
}
.Ukiyo-e {
  background-image: url('img/categ/ukiyo-e.webp');
}
.Sado {
  background-image: url('img/categ/sado.webp');
  background-position: center;
}
.Festivales {
  background-image: url('img/categ/matsuri.webp');
}
.Fushimi-inari {
  background-image: url('img/categ/fushimi.webp');
}
.Shitennoji {
  background-image: url('img/categ/shitennouji.webp');
  background-position: center;
}
.Todaiji {
  background-image: url('img/categ/todaiji.webp');
  background-position: center;
}
.Heian {
  background-image: url('img/categ/heian.webp');
}
.Naniwa {
  background-image: url('img/categ/naniwa.webp');
}
.Heijo {
  background-image: url('img/categ/heijo.webp');
}


#category-grid td a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 5vw;
  color: #ffffff;
  text-decoration: none;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  opacity: 0.8;
  display: flex;
  justify-content: center;
  align-items: center;
}

#category-grid td:hover {
  background-color: var(--color-secondary);
}

#category-grid td:hover a {
  color: #fff;
}


/* Estilos para páginas de individuales */

.tako-banner {
  background-image: url('img/categ/takoyaki.webp');
}
.okonomi-banner {
  background-image: url('img/categ/okonomiyaki.webp');
}
.kushi-banner {
  background-image: url('img/categ/kushikatsu.webp');
}
.kabuki-banner {
  background-image: url('img/categ/kabuki.webp');
  background-position: top;
}
.takara-banner {
  background-image: url('img/categ/takarazuka.webp');
  background-position: top;
}
.ukiyo-banner {
  background-image: url('img/categ/ukiyo-e.webp');
  background-position: top;
}
.matsuri-banner {
  background-image: url('img/categ/matsuri.webp');
}
.sado-banner {
  background-image: url('img/categ/sado.webp');
}
.fushimi-banner {
  background-image: url('img/categ/fushimi.webp');
}
.shiten-banner {
  background-image: url('img/categ/shitennouji.webp');
}
.todaiji-banner {
  background-image: url('img/categ/todaiji.webp');
}
.heian-banner {
  background-image: url('img/categ/heian.webp');
}
.heijo-banner {
  background-image: url('img/categ/heijo.webp');
}
.naniwa-banner {
  background-image: url('img/categ/naniwa.webp');
}

section h2 {
  font-size: 36px;
  background-color: white;
  color: var(--color-secondary);
  padding: 10px;
  border-top: 5px solid var(--color-primary);
  border-bottom: 5px solid var(--color-primary);
  margin: 50px;
  text-align: center;
}

section p {
  background-color: var(--color-primary);
  opacity: 0.8;
  max-width: 1000px;
  padding: 20px;
  margin: 40px auto;
  box-shadow: 2px 2px 5px var(--color-secondary);
  text-align: center;
  justify-content: center;
  font-size: 18px;
  line-height: 1.5;
}

#imagenes {
  text-align: center;
  margin: 20px;
}

#imagenes img {
  max-width: 100%;
  width: 300px;
  margin: 20px;
  flex: 1;
  margin: 10px;
  border: 2px solid var(--color-secondary);
}


#video {
  padding: 50px 0;
  text-align: center;
  margin: 0 auto;
}

#video h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

#video iframe {
  width: 640px;
  height: 360px;
}

@media only screen and (max-width: 767px) {
  #video iframe {
    max-width: 70%;
    height: auto;
  }
}

footer {
  display: flex;
  margin-top: 10px;
  background-color: var(--color-secondary);
  padding: 20px;
  color: white;
  font-size: 2vw;
  font-weight: bold;
  align-items: center;
  justify-content: space-between;
}

.footer-logo {
  width: 15%;
  height: 15%;
}

@keyframes logo-animation {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.logo-kansai {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: logo-animation 3s ease-in-out;
}